*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: monospace, sans-serif, Impact;
}

body{
    display: flex;
    flex-direction: column;
}

.navbar{
    background: #829bb9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 10px;
}

.pagelogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rps-icon{
    width: 50px;
    height: auto;
}

.outlinks{
    list-style-type: none;
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.socialmedia-icon{
    width: 32px;
    height: auto;
}

.outlinks li{
    display: flex;
    align-items: center;
    color: black;
}
/* for debugging  */
.points-container{
    text-align: center;
}

.choices-container {
    display: flex;
    justify-content: space-evenly;

}

.choices-container > .player-choices-area, .computer-choices-area{
    display: flex;
    flex-direction: column;
}

.player-choices-area > *, .computer-choices-area > *{
    display: flex;
    align-items: center;
}

.png{
    width: 150px;
}

.player-choices-area > * >.png:hover{
    transform: scale(1.20);
    transition: ease;
}

.result-display-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.display-choices{
    display: flex;
    align-items: center;
    gap: 10px;
}

.display-choices > * {
    width: 200px;
    text-align: center;
}

.footer{
    background: #3a495a;
    text-align: center;
    color: #a8d0ff;
    padding: 4px;
}