*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: monospace, sans-serif, Impact;
}

body{
    display: flex;
    flex-direction: column;
}

.navbar{
    background: #829bb9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 10px;
}

.pagelogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rps.icon{
    width: 50px;
    height: auto;
}

.outlinks{
    list-style-type: none;
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.socialmedia.icon{
    width: 32px;
    height: auto;
}

.outlinks li{
    display: flex;
    align-items: center;
    color: black;
}
/* for debugging  */
.points-container{
    border: solid blue;
}

.choices-container {
    border: solid yellow;
}

.png{
    width: 200px;
}

.footer{
    border: solid green;
}